[alias]
  cm = commit -m
  st = status --short
  co = checkout
  logg = log --graph --color --decorate
  loga = log --graph --color --pretty='format:%C(yellow)%h%C(cyan)%d %Creset  %s %C(blue)%an, %ar' --date-order --all
  logt = log --graph --color --pretty='format:%C(yellow)%h%C(cyan)%d %Creset  %s %C(blue)%an, %ar' --date-order
  logc = log --graph --color --pretty='format:%s (%an, %ar)' --date-order
  tags = log --tags --date-order --simplify-by-decoration --pretty='format:%ai %d'
  last = cat-file commit HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  w = whatchanged
  switch = !legit switch \"$@\"
  branches = !legit branches
  sprout = !legit sprout \"$@\"
  unpublish = !legit unpublish \"$@\"
  harvest = !legit harvest \"$@\"
  sync = !legit sync \"$@\"
  publish = !legit publish \"$@\"
  graft = !legit graft \"$@\"
[github]
  user = mateusdelbianco
[core]
  editor = nano
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = /Users/mateus/.gitignore_global
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[user]
  name = Mateus Del Bianco
  email = mateus@delbianco.net.br
[merge]
  tool = chdiff
[mergetool "chdiff"]
  cmd = /usr/bin/env chdiff "$LOCAL" "$REMOTE"
  keepBackup = false
  trustExitCode = false
[diff]
  tool = chdiff
[difftool "chdiff"]
  cmd = /usr/bin/env chdiff "$LOCAL" "$REMOTE"
[difftool]
  prompt = false
[branch]
  autosetuprebase = always
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[push]
  default = simple
