[alias]
  cm = commit -m
  st = status --short
  co = checkout
  logg = log --graph --color --decorate
  loga = log --graph --color --pretty='format:%C(yellow)%h%C(cyan)%d %Creset  %s %C(blue)%an, %ar' --date-order --all
  logt = log --graph --color --pretty='format:%C(yellow)%h%C(cyan)%d %Creset  %s %C(blue)%an, %ar' --date-order
  last = cat-file commit HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  w = whatchanged
[github]
  user = mateusdelbianco
[core]
  editor = nano
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[user]
  name = Mateus Del Bianco
  email = mateus@delbianco.net.br
[branch "master"]
  remote = origin
  merge = master
[merge]
  tool = chdiff
[mergetool "chdiff"]
  cmd = /usr/bin/env chdiff "$LOCAL" "$REMOTE"
  keepBackup = false
  trustExitCode = false
[diff]
  tool = chdiff
[difftool "chdiff"]
  cmd = /usr/bin/env chdiff "$LOCAL" "$REMOTE"
[difftool]
  prompt = false
[branch]
  autosetuprebase = always
